html {
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
        repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
h4{
    color: white;
}
.container {
    background-color: #00000000;
    padding:  5% 10%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border: white  .5px solid;
    backdrop-filter: blur(10px);
    border-radius: 2%;
}
input{
    font-weight: bolder;
    font-size: 1rem;
}
::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
